<div class="container">
    <nav class="nav">
    <ul class="nav__list">
        <li>
          <a href="#about">About</a>
        </li>
        <li>
          <a href="#experience">Experience</a>
        </li>
        <li>
          <a href="#project">Projects</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="title">
        <span>My Portfolio...</span>
    </div>

    <div class="name">
        <span>
            <span>Hi,</span> I am
        </span><br>
        <span>Sanket Zende</span><br>
        <span>E&TC Engineer</span>
        <span><a href="../../assets/sanket resume.pdf">Resume</a></span>
    </div>

    <div class="profile">
        <div class="profile-bg"></div>
        <img src="../../assets/sanket.png" alt="">
    </div>
</div>