<div id="contact" class="container"><br>
    <h1>Contact</h1>

    <ul class="social-media">
        <li><a class='bx bxl-gmail' href="mailto:sanketzende96885@gmail.com"></a></li>
        <li><a class='bx bxl-linkedin' href="https://www.linkedin.com/in/sanket-zende-636789231/"></a></li>
        <li><a class='bx bxl-instagram' href="https://www.instagram.com/_sanket_zende_/?hl=en" ></a></li>
        <li><a class="bx bxl-twitter" href="https://mobile.twitter.com/SanketZende4"></a></li>
    </ul>

    <ul class="contact-info">
        <li>Mobile: 9762085095</li>
        <li>Email: sanketzende96885gmail.com</li>
    </ul>
</div>